body,p,h1,h2,h3,h4,h5,li,span,i,ul,img,a,strong,input,button,textarea,select,dl,dd,dt{margin:0;padding:0;}
body{font-family:"microsoft yahei","Arial";font-size: 0.24rem;line-height: 1;color:#333;-webkit-user-select:none;-webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important;-moz-text-size-adjust: 100% !important;}
::-webkit-scrollbar{width: 0;height: 0;}/*滚动条宽高设为0*/
*{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
[class|="ico"]{-webkit-background-size: 100% 100%;background-size: 100% 100%;display: inline-block;vertical-align: middle;}
[class|="icon-"]{font-family:"iconfont" !important;font-size:.24rem !important;font-style:normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
li{list-style-type:none; float:left;}
a{text-decoration:none;color: #333;}
img{border:none;vertical-align: middle;margin-top: 0;}
i,var,em{font-style:normal;}
button{font-family:"microsoft yahei","Arial";outline:none;cursor: pointer;font-size: 0.24rem;border: none;}
iframe{border: none;}
input,select,textarea{outline:none;font-family:"microsoft yahei","Arial";font-size: 0.24rem;border-radius: 0;}
input:disabled{opacity: 1;color:#333;}
input[type="submit"],input[type="reset"],input[type="text"],input[type="password"],input[type="number"],input[type="button"],button,input[type="date"],textarea{-webkit-appearance: none;border: none;background: none;}
textarea{resize:none;}
div{margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.dt{display: table;width: 100%;}
.fl-w{float: left;width: 100%;}
.clear{clear:both;}
.fixed{z-index: 2;position: fixed;left: 0;bottom: 0;width: 100%;}
.poa{z-index: 1;position: absolute;left: 0;bottom: 0;width: 100%;}
.bgsz{-webkit-background-size: 100% 100%;background-size: 100% 100%;}
.hide{display:none !important;}
.bdn>:last-child{border-bottom: none;}

.mobile-wrap{position: relative;}
/*手机弹跳效果*/
.move-touch{-webkit-overflow-scrolling : touch;}

/*图片 水平居中 垂直居中*/
.auto-center ul li{text-align: center;}
.auto-center ul li .pict{display: table;width: 100%;}
.auto-center ul li .pict i{vertical-align: middle;display: table-cell;}

/*css3模糊效果*/
.vague{-webkit-filter: blur(2px); transition:0.3s;-webkit-transition:0.3s;}

/*旋转对象*/
.rogate{transition:.3s;-webkit-transition:.3s;}
.rogate:hover{transform:rotate(90deg);}

/*排序-上下三角形*/
.arrow{position: relative;line-height:1;margin-left: .1rem;}
.arrow:before{content:""; position:absolute; top:-.02rem; left:0; width:0px;height:0px;border-bottom: .08rem solid;border-right: .08rem solid transparent;border-top:.08rem solid transparent;border-left: .08rem solid transparent;}
.arrow:after{content:""; position:absolute; top:.18rem; left:0; width:0px;height:0px;border-top: .08rem solid;border-right: .08rem solid transparent;border-bottom:.08rem solid transparent;border-left:.08rem solid transparent;}
.arrow.one:before{display: none;}
.arrow.one:after{top:.14rem;}

/*0.5像素边框*/
.border-top:before{background: #dadada;content:"";position: absolute;height: 1px;transform-origin: 0 0;transform: scale(0.5,0.5);-webkit-transform: scale(0.5,0.5);-moz-transform: scale(0.5,0.5);width:200%;top:0;left:0;}
.border-bottom:after{background: #dadada;content:"";position: absolute;height: 1px;transform-origin: 0 0;transform: scale(0.5,0.5);-webkit-transform: scale(0.5,0.5);-moz-transform: scale(0.5,0.5);width:200%;bottom:-1px;left:0;}

/*滑动菜单*/
.flex-slide{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;overflow-y:auto;}
.flex-slide>*{flex-shrink:0;}
